.DS_Store
changes.txt
examples/
libs/
license.md
other/
projectGenerator/
readme.txt
scripts/
apps/ma2_101018
CHANGELOG.md
INSTALL.md
README.md
docs/
export/
projectGenerator_osx/
apps/ma2_week4/
apps/tau_ma2_13-master/
apps/AudioVisualApps/
